# PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce?schema=public"

# App
PORT=3000

# Azure Blob Storage (Azurite default dev connection string)
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:10000/devstoreaccount1;"
AZURE_STORAGE_CONTAINER="product-images"
