subscription_id = "sub-id"
tenant_id       = "tenant-id"

resource_group_name    = "learn-aks"
aks_cluster_name       = "ecommerce-api"
acr_name               = "learnk8snow"
postgresql_server_name = "learn-aks-db"
storage_account_name   = "learnaksbs"
key_vault_name         = "learn-aks-kv"
# Optional if your current kube context is already ecommerce-api.
kube_context = "ecommerce-api"
